:root {
    --primario-web: #F45000;
    /* Naranja*/
    --secundario-web: #ff8c5a;
    /* Naranja secundario */
    --negro-web: #181818;
    --blanco-web: #ffffff;
    --gris-web: #6b6b6b;
    --blanco-texto: #fcfcfc
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
  
  * {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
  }
  h2 {
    font-size: 3.7vw !important;
    font-weight: bold!important;
    text-transform: uppercase;
  }
  p {
    font-size: 2.8vw;
    font-weight: 500;
  }
  
  footer {
    z-index: 999;
  }
  
  html {
    width: 100vw;
    overflow-x: hidden !important;
  }
  
  body {
    width: 100vw;
    overflow-x: hidden !important;
  }
  .logo-header{
    width: 50%;
    padding-bottom: 6%;
  }
  .texto-primario {
    color: var(--primario-web);
    margin-bottom: 0;
   
  }
  .moto-correo img {
    position: absolute;
    top:50%;
    width: 100%;
  }

/* ? MEDIA QUERY DESKTOP */
@media (min-width: 768px) {
  .seccion_uno_contacto{
    padding-bottom: 3%;
  }
}

  /* ? MEDIA QUERY MOBILE */
@media (max-width: 767px) {

}

