:root {
    --primario-web: #F45000;
    /* Naranja*/
    --secundario-web: #ff8c5a;
    /* Naranja secundario */
    --negro-web: #181818;
    --blanco-web: #ffffff;
    --gris-web: #6b6b6b;
    --blanco-texto: #fcfcfc
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
  
  * {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
  }
  h2 {
    font-size: 3.7vw !important;
    font-weight: bold!important;
    text-transform: uppercase;
  }
  p {
    font-size: 2.8vw;
    font-weight: 500;
  }
  
  footer {
    z-index: 999;
  }
  
  html {
    width: 100vw;
    overflow-x: hidden !important;
  }
  
  body {
    width: 100vw;
    overflow-x: hidden !important;
  }
  .logo-header{
    width: 50%;
    padding-bottom: 6%;
  }
  .texto-primario {
    color: var(--primario-web);
    margin-bottom: 0;
   
  }
  .texto-footer {
    color: var(--blanco-texto);

  }
  .moto-correo img {
    position: relative;
    width: 100%;
  }
  footer {
    background-color: var(--negro-web);
    width: 100%;
    height: auto;
    }

  a.btn-social,
  .btn-social {
      color: var(--blanco-texto);
      display: inline-block;
      height: 90px;
      line-height: 60px;
      margin: 8px 22px;
      text-align: center;
      text-decoration: none;
      width: 90px;
  }  

  .btn-social .fa,
  .btn-social i {
    backface-visibility: hidden;
    transition: all .25s;

  }

  .btn-social:hover,
  .btn-social:focus {
    color: var(--negro-web);
    outline: none;
    text-decoration: none;
  }

  .btn-social:hover .fa,
  .btn-social:focus .fa,
  .btn-social:hover i,
  .btn-social:focus i {
    transform: scale(1.6);
  }

  .btn-social.btn-xs {
    font-size: 3px;
    height: 24px;
    line-height: 13px;
    margin: 6px 2px;
    width: 24px;
  }

  .btn-social.btn-sm {
    font-size: 13px;
    height: 36px;
    line-height: 18px;
    margin: 6px 2px;
    width: 36px;
  }

  .btn-social.btn-lg {
    font-size: 22px;
    height: 72px;
    line-height: 40px;
    margin: 10px 6px;
    width: 72px;
  }
  

/* ? MEDIA QUERY DESKTOP */
@media (min-width: 768px) {
  .seccion_uno_contacto{
    padding-bottom: 3%;
  }
}

  /* ? MEDIA QUERY MOBILE */
@media (max-width: 767px) {

}

