:root {
    --primario-web: #F45000;
    /* Naranja*/
    --secundario-web: #ff8c5a;
    /* Naranja secundario */
    --negro-web: #181818;
    --blanco-web: #ffffff;
    --gris-web: #6b6b6b;
    --blanco-texto: #fcfcfc
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
  
  * {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  footer {
    z-index: 999;
  }
  
  html {
    width: 100vw;
    overflow-x: hidden !important;
  }
  
  body {
    width: 100vw;
    overflow-x: hidden !important;
  }

/* ? MEDIA QUERY DESKTOP */
@media (min-width: 768px) {
  .centrar {
    text-align: center;
  }
}
/* ? MEDIA QUERY MOBILE */
@media (max-width: 767px) {
    .centrar {
        text-align: center;
      }
}
